<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Salaries</title>
</head>
<body>
<div align="center">
    <h1>Salaries</h1>
    <a href="/">Home</a>
    <br/><br/> 
    <a href="newsalaries">Create Salaries</a>
    <br/><br/> 
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Employee No</th>
                <th>Salary</th>
                <th>Date From</th>
                <th>Date To</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="salaries_entities : ${listsalaries}">
                <td th:text="${salaries_entities.emp_no}">Employee No</td>
                <td th:text="${salaries_entities.salary}">Salary</td>
                <td th:text="${salaries_entities.from_date}">Date From</td>
                <td th:text="${salaries_entities.to_date}">Date To</td>
				<td>
                    <a th:href="@{deletesalaries/{emp_no}(emp_no=${salaries_entities.emp_no})}">Delete</a>
                	<a th:href="@{editsalaries/{emp_no}(emp_no=${salaries_entities.emp_no})}">Edit</a>
                
                </td>
            </tr>
        </tbody>
    </table>
  
</div>   
</body>
</html>